html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100%;
  min-width: 100%;
}

#content {
  display: grid;
  justify-items: center;

  height: 100%;
  min-width: 963px;

  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Fleet_5_nations.jpg');
  background-size: cover;

  font-family: 'Black Ops One', cursive;
}

/*
  ==========
  Header Area
  ==========
*/

h1 {
  margin: 1em;
  font-size: 30px;
  background-color: rgba(247, 246, 242, 0.6);
  padding: 0.5em;
  border-radius: 5px;
}

form {
  display: grid;
  min-width: 150px;
  max-width: 250px;
  background-color: rgba(247, 246, 242, 0.6);
  padding: 1em;
  border-radius: 5px;
}

label {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

input {
  border-radius: 5px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  height: 20px;
}

input:focus {
  outline: none;
}

#submitCoord {
  height: 2em;
  justify-self: center;
  margin-top: 1em;
  padding: 0.25em 0.5em;

  border-style: none;
  border-radius: 5px;
  background-color: rgb(75, 101, 135);
  color: rgb(240, 229, 207);
  font-size: 16px;

  transition: background-color 0.3s ease-in;
  font-family: 'Black Ops One', cursive;
}

#submitCoord:hover {
  cursor: pointer;
  background-color: gray;

}

#msgCont {
  font-size: 30px;
  background-color: rgba(75, 101, 135, 0.9);
  margin-top: 3em;
  border-style: none;
  border-radius: 5px;
}

#winMessage {
  color: rgb(240, 229, 207);
  padding: 0.5em 1em 0.5em 1em;
}
/*
  ==========
  Game Area
  ==========
*/

#gameArea {
  margin-top: 3em;
  margin-bottom: 7em;
  display: grid;
  grid-template-columns: 3fr minmax(75px, 300px) 3fr;
  grid-template-rows: 50px 450px;
  row-gap: 2em;
  justify-items: center;
}

.lettersCont {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  align-items: start;
  justify-items: center;
  width: 350px;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.letters {
  font-weight: 600;
  font-size: 20px;
}

.numbersCont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
  height: 350px;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.numbers {
  font-weight: 600;
  font-size: 20px;
}



#playerOne {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 26px;
  align-self: center;
  background-color: rgba(75, 101, 135, 0.9);
  color: rgb(240, 229, 207);
  border-style: none;
  border-radius: 5px;
}

#boardOneCont {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 30px 1fr;
  background-color: rgba(240, 229, 207, 0.85);
  border-radius: 5px;
  padding: 2em;
}

#boardOne {
  display: grid;
  grid-template-columns: repeat(10, 35px);
  grid-template-rows: repeat(10, 35px);

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#playerTwo {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 26px;
  align-self: center;
  border-style: none;
  border-radius: 5px;
  background-color: rgba(75, 101, 135, 0.9);
  color: rgb(240, 229, 207);
}


#boardTwoCont {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 30px 1fr;

  background-color: rgba(240, 229, 207, 0.85);
  border-radius: 5px;
  padding: 2em;
}

#boardTwo {
  display: grid;
  grid-template-columns: repeat(10, 35px);
  grid-template-rows: repeat(10, 35px);

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#boardOne > .cell {
  transition: background-color 0.5s ease-out;
}

#boardTwo > .cell {
  transition: background-color 0.5s ease-out;
}

#boardTwo > .cell:hover {
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

.cell {
  border-style: solid;
  border-width: 1px;
  height: 35px;
  width: 35px;
  border-radius: 2px;
}